<div>
    <center>
            <h1>
                    <br>
                    <p>STAY HUNGRY</p>
                    <br>
                    <p>STAY FOOLISH</p>
            </h1>
    </center>
</div>


