<footer class="mt-4 py-4 mr-4 footer">
    
    <a href="https://facebook.lujangey.com" target="_blank"><i class="fa fa-facebook"></i></a>
    <i class="mr-4"></i>
    <a href="https://instagram.lujangey.com" target="_blank"><i class="fa fa-instagram"></i></a>
    <i class="mr-4"></i>
    <a href="https://github.lujangey.com" target="_blank"><i class="fa fa-github"></i></a>
    <i class="mr-4"></i>
    <a href="/images/wechatID.JPG" target="_blank"><i class="fa fa-weixin"></i></a>
    <i class="mr-4"></i>
    <a href="https://youtube.lujangey.com" target="_blank"><i class="fa fa-youtube"></i></a>
    <i class="mr-4"></i>
    <a href="mailto:lujangey@lujangey.com" target="_blank"><i class="fa fa-envelope"></i></a>
    
</footer>